.bgColor {
  background-color: #f6623e;
}
.text-c {
  color: #f6623e;
}
.bReviews {
  background-color: #fef0e7;
}
.bgcad{
  background-color: #E8E8E8;
}

.Reviews-M {
  margin-bottom: -128px;
}
.health-bg{
  background-color: #FFF8F6;
  
}
.margin {
  margin-top: -12%;
}
.w-c{
  width: 90%;
}
.PLB{
 left: 42%;
 bottom: 50%;
}
.PL{
  left: 33%;
}
